
      <div class="container_fullwidth">
        <div class="container shopping-cart">
          <div class="row">
            <div class="col-md-12">
              <h3 class="title">
                Danh sách đơn hàng
              </h3>
              <div class="clearfix">
              </div>
    {{#if orders}}
              <table class="order-table">
                <thead>
                  <tr>
                    <th>
                      Ngày đặt
                    </th>
                    <th>
                      Chi tiết
                    </th>
                    <th>
                      Tổng giá
                    </th>
                    <th>
                      Trạng thái
                    </th>
                   
                    <th>
                      Xóa
                    </th>
                  </tr>
                </thead>
                <tbody>

{{#each orders}}
                  <tr>
                    <td>
                    {{date}}
                    </td>
                       <td>
                    {{#each products}}
                   {{OrderID}}
                    </br>
                    {{/each}}
                    </td>
                  </tr>
  {{/each}}

                </tbody>








               
              </table>
  {{else}}
<div class="row">
  <div style="text-align:center;margin-top: 100px; margin-bottom:150px;" class="col-sm-12 col-md-12 col-lg-12">
   <h1> Đơn hàng trống</h1>
  </div>
</div>
  {{/if}} 
              
            </div>
          </div>

        </div>
      </div>