<!--VanKhai-->
.bg {
    background-image: url("images/69015227-champagne-wallpapers.jpg");

    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.product-view
{
    position : absolute;
    width: 80%;
    bottom: -100px;
}
.product-price
{
    font-size: 20pt;
    line-height: 20pt;
    width: 25%
    right: 20px;
}
.product-info {
    position: relative;
}

.products-title {
    font-size : 1.30em;
    margin-bottom: 1.5px;
    line-height: 1.0em;
}


/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
    
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
      display: none; 
  }
}

.products1
{
}
.products2
{
}
.products3
{
}
<<<<<<< HEAD
.bbutton-image
{
   position: absolute;
    left : -10px;
}
=======
#cssmenu ul ul > li:hover::after,
#cssmenu ul ul > li.active::after,
#cssmenu ul ul > li.open::after {
  border-top-color: #666666;
}

/*chi tiết sản phẩm*/
.detail {
    margin-top: 100px;
    font-size: 20px;
}
.detail label{
    font-style: italic;
    
}
.types2 {
    border: 1px solid grey;
    margin-right: 6px;
    height: 270px;
}
.types2 label {
    text-align: center;
    color: blue;
    margin-top:4px;
}
.types1 a img{
    display:block;
    margin-top:4px;
    margin-left: 16px;
    height: 186.16px;
}
>>>>>>> 844e1cfe9e1c8327c8dda46dd106b0177e05875c
