.panel {
    border: 0;
}
.panel-default .panel-heading {
    background: #fff;
    border-bottom: 1px solid #e9ecf2;
    color: #444444;
}
.panel-heading {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.025em;
    height: 60px;
    line-height: 38px;
}
.panel-body input[type=checkbox]:checked + label {
    text-decoration: line-through;
    color: #777;
}
.dashboarddai {
    
    margin-top: 20px;
}

.dashboarddai a img {
    height: 170px;
    width: 155px
}
